---

import BaseLayout from '/src/pages/layouts/BaseLayout.astro';
import { Picture } from 'astro:assets';
import consultingImg from '/src/img/strategy-svgrepo-com.svg'
import auditImg from '/src/img/magnifying-glass-backup-svgrepo-com.svg'

const pageID = "index";
const pageTitle = "Raleigh-Durham Digtial Ad Agency";
const pageDescription = "Whether Google Ads, Facebook, Instagram, X (Twitter) or whichever, the goal is to bring in money. My goals are aligned with yours. Learn More!";
---
<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription} pageID={pageID}>




			<section id="intro">
	
						<div class="wrapper">
										
				<h1>{pageTitle}</h1>
				<h2>Helping businesses connect products to customers, and ad dollars to profit.   
				</h2>
				<p>Greetings, I'm Jason. I am a Raleigh based paid search, paid social media and SEO expert. I have over 15 years of experience, both agency and in-house. My main focus is connecting ad spend to measurable profit.</p>

			</section>
			<section id="intro_2">
				
						<div class="wrapper">
							
				<h2 class="scroll-sectionv2">Quick turnaround, direct support and tailored solution without big agency overhead.</h2>
				<h2 class="scroll-section">If you are looking for:</h2>
				<div class="intro_2_list">
				<div class="intro_2_item scroll-section"><div class="bracketed-list column">[a]</div><div class="bracketed-content column"><p>Google Ads/ paid social/ landing page audit</p></div></div>
				<div class="intro_2_item scroll-section"><div class="bracketed-list">[b]</div><div class="bracketed-content"><p>On-going profit driven paid media consultation</p></div></div>
				</div>
			</section>
			<section id="services">
						<div class="wrapper">

				<div class="column left">
										<aside>
	
				<h2>Services</h2>
				<h3 class="scroll-section">Profit driven digital marketing services</h3>
				<p class="scroll-section">One person digital ad services built for quick turnover and lasting results</p>
										</aside>

				</div>
				<div class="column right">
								<div class="scroll-sectionv2">		

					<div class="service_icon"><Picture src={consultingImg} alt="Consulting Logo." width="70" /></div>
					<h3>Consulting</h3>
					<p>
						If you are looking for a paid media expert but don't have the need for a full-time employee or the budget for large agency, then partner with me. 
					</p>


					<div class="accord_wrap_serv_details scroll-sectionv2">
<button class="accordion service_details_btn"><h4>Learn More</h4></button>
<div class="panel">
	<p style="margin-top:0px;">Includes:</p>
	<table>
		<tr>
			<td class="serv_details">&check;</td>
			<td class="serv_details">Professional level paid media strategy, execution and reporting</td>
		</tr>
		<tr>
			<td class="serv_details">&check;</td>
			<td class="serv_details">Expert level knowledge in Google Ads (Search, Display, YouTube, PMax, Demand Gen), Meta Ads,  X (Twitter) and LinkedIn</td>
		</tr>
		<tr>
			<td class="serv_details">&check;</td>
			<td class="serv_details">Landing page optimization to maximize return on ad spend</td>
		</tr>
		<tr>
			<td class="serv_details">&check;</td>
			<td class="serv_details">A/B testing to ensure most effective strategies</td>
		</tr>
		<tr>
			<td class="serv_details">&check;</td>
			<td class="serv_details">Access to additional digital marketing strategies including SEO/ GEO and email strategies</td>
		</tr>
		<tr>
			<td class="serv_details">&check;</td>
			<td class="serv_details">Direct communication on the messaging platform of your choice</td>
		</tr>
		<tr>
			<td class="serv_details">&check;</td>
			<td class="serv_details">Availability M-F, 8am - 6pm / EST Timezone</td>
		</tr>
	</table>
	<p style="color: #5C7EAD;">Cost: $50/ hour billed monthly.</p>
	<p><a class="serv_contact" href="/#contact">Book a free discovery call</a></p>

</div>
</div>


			</div>
<div class="scroll-sectionv2">		
<div class="service_icon"><Picture src={auditImg} alt="Consulting Logo." width="70" /></div>

<h3>Audit & Training</h3>

<p>
	Are you seeking better returns from your digital advertising? I'm available for Google Ads, Meta or LinkedIn account audits.  
</p>
<div class="accord_wrap_serv_details scroll-sectionv2">
<button class="accordion service_details_btn"><h4>Learn More</h4></button>
<div class="panel">
	<p style="margin-top:0px;">Includes:</p>
	<table>
		<tr>
			<td class="serv_details">&check;</td>
			<td class="serv_details">Professional level performance audit of paid media accounts (Google Ads, Meta, X(Twitter), LinkedIn)</td>
		</tr>
		<tr>
			<td class="serv_details">&check;</td>
			<td class="serv_details">Deep dive of content and design of landing pages </td>
		</tr>
				<tr>
			<td class="serv_details">&check;</td>
			<td class="serv_details">Recommendations of content and design of ads (text, display or videos) </td>
		</tr>
		<tr>
			<td class="serv_details">&check;</td>
			<td class="serv_details">Review of analytical tools and benchmarks</td>
		</tr>
		<tr>
			<td class="serv_details">&check;</td>
			<td class="serv_details">Detail list of reccomendations with a focus on profit </td>
		</tr>
		<tr>
			<td class="serv_details">&check;</td>
			<td class="serv_details">3 business days turn around time</td>
		</tr>
		<tr>
			<td class="serv_details">&check;</td>
			<td class="serv_details">Availability M-F, 8am - 6pm / EST Timezone</td>
		</tr>
	</table>
	<p style="color: #5C7EAD;">Cost: A single audit is $300 for a monthly budget of $5k or less. For monthly budgets above $5k, a single audit will cost 6% of your monthly budget.</p>
	<p><a class="serv_contact" href="/#contact">Book a free discovery call</a></p>

</div>
</div>

</div>	
				</div>


			</section>
						<section id="expertise">
						<div class="wrapper">
							
			<h2>Expertise</h2>
			<h3>Digital marketing knowledge for long-term sucess</h3>
			<p id="exp_subhead">Overview of tools and tactics based on 15 years of work experience.</p>
			<div id="exp_details">
			<div class="column left">	

<div class="exp_card scroll-sectionv2"><h4>Search Engine Marketing</h4>
				<p>Google Ads. Google Local. PMax. Bing. SEO. AEO.</p></div>
<div class="exp_card scroll-sectionv2"><h4>Paid Social</h4>
				<p>Facebook. Instagram. TikTok. LinkedIn. YouTube. X(Twitter).</p><br> <br> </div>
				</div>
								<div class="column right">	
<div class="exp_card scroll-sectionv2"><h4>Analytics & Profit Generation</h4>
				<p>Google Analytics. Google Tags. Adobe Analyics. Looker Studio. SalesForce. Hubspot. Competitve Analysis. </p></div>
<div class="exp_card scroll-sectionv2"><h4>Landing Page Optimization</h4>
				<p>Wordpress. Webflow. HTML/ SCSS </p></div>
				</div>
							 </div>
							 </div>
			</section> 
			<section id="process">
						<div class="wrapper">

				<div class="column left">
					<aside>
				<h2>What to expect</h2>
				<h3 class="scroll-section">A process built for success</h3>
				</aside>
			</div>
				<div class="column right">
					<h4 class="scroll-sectionv2">1. Free  Discovery call</h4>
					<p class="scroll-sectionv2">We'll start with a in-depth assessment discussion as to what your goals are and how my skill set can align with those goals. This conversation is necessary to ensure my services will lead to meaniful results for your company.</p>
					<h4 class="scroll-sectionv2">2. Tailored project plan</h4>
					<p class="scroll-sectionv2">Wether it is consulting or training, I will develop a detailed plan based on our assessment conversation. We will schedule deadlines and set clear goals.</p>
					<h4 class="scroll-sectionv2">3. Execution & support</h4>
					<p class="scroll-sectionv2">Once the plan is acceptable & approved, we move onto execution. For training & audits, we will set a time to discuss my findings and a plan to ensure success. For consulting, we will set regular cadence to ensure KPIs are being met.</p>
				</div>

				</section>


	
				<section id="competition">
				<div class="wrapper">

				<div class="column left">
				<aside>
				<h2>The Competition</h2>
				<h3 class="scroll-section">Me vs Them</h3>
				<p>I have over 15 years of experience in a variety of industries and have reputation of going above and beyond to bring lasting results. This is what sets me apart from my competitors.</p>
				</aside>

				</div>
				<div class="column right">

				<table>
					
  <tr>
    <th style="width:50%"></th>
    <th class="me">Me</th>
	<th class="them">Agencies</th>
    <th class="them employee">Employee</th>
  </tr>
  <tr>
    <td  class="me">Simple On-boarding</td>
    <td class="me">&check;</td>
    <td class="them">X</td>
	    <td class="them employee">X</td>

  </tr>
  <tr>
    <td  class="me">Fixed scope & clear pricing</td>
    <td class="me">&check;</td>
    <td class="them">X</i></td>
	    <td class="them employee">?</td>

  </tr>
  <tr>
    <td  class="me">Direct communication</td>
    <td class="me">&check;</td>
    <td class="them">X</td>
	    <td class="them employee">&check;</td>

  </tr>
  <tr>
    <td  class="me">No bloated teams & handoffs</td>
    <td  class="me">&check;</td>
    <td class="them">X</td>
	    <td class="them employee">?</td>

  </tr>
  <tr>
    <td  class="me">Fast turnaround with no bottle neck</td>
    <td class="me">&check;</td>
    <td class="them">X</td>
	    <td class="them employee">?</td>

  </tr>
  <tr>
    <td  class="me">Clear timeline</td>
    <td class="me">&check;</td>
    <td class="them">&check;</td>
	    <td class="them employee">?</td>

  </tr>
  <tr>
    <td  class="me">Profit focused results</td>
    <td class="me">&check;</td>
    <td class="them">?</td>
	    <td class="them employee">&check;</td>

  </tr>
  <tr>
    <td  class="me">No long-term commitments</td>
    <td class="me">&check;</td>
    <td class="them">X</td>
	    <td class="them employee">?</td>

  </tr>
   <tr>
    <td  class="me">No training cost or time</td>
	<td class="me">&check;</td>
    <td class="them">?</td>
    <td class="them employee">X</td>
  </tr>
</table>
</div>
</div>

			</section>	
<section id="faq">
<div class="wrapper">
<div class="column left">
	<h2>FAQS</h2>
	<h3 class="scroll-section">Questions? Answered.</h3>

</div>
<div class="column right">
	<div class="accord_wrap scroll-sectionv2">

<button class="accordion accord_faq"><h4>Can you create or audit landing pages?</h4></button>
<div class="panel">
  <p>I can work with designers and writers to create effective landing pages, blog post, or any type of web content. In the absence of a designers or writers, I have the skillset to create your landing pages for you. I work with Wordpress, Webflow and I'm and expert in HTML/ SCSS.</p>
</div>
</div>
<div class="accord_wrap scroll-sectionv2">
<button class="accordion accord_faq"><h4>What does a successful paid media campaign look like?</h4></button>
<div class="panel">
  <p>I measure success primarily by return on investment. In all of my effort, I want to make sure that campaigns are leading to measurable profits.</p>
</div>
</div>
<div class="accord_wrap scroll-sectionv2">
<button class="accordion accord_faq"><h4>Why choose you over a larger agency?</h4></button>
<div class="panel">
  <p>Unlike bigger companies, I give faster turnaround, personailized attention and cost effective solutions. You get direct access to a digital marketing expert who understand your business goals. </p>
</div>
</div>
<div class="accord_wrap scroll-sectionv2">
<button class="accordion accord_faq"><h4>Why 'Carolina Digital'?</h4></button>
<div class="panel">
  <p>I am proud resident of North Carolina. The businesses and people here have served me well. I want to show my appreciation by enhancing the thriving business communities of North Carolina. But I also work with businesses from all over the world.</p>
</div>
</div>
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  });
}
</script>
	</div>
	</div>

			</section>
			<section id="about">
						<div class="wrapper">

				<h2>About Me</h2>
				<h3>Quick professional summary</h3>
				<p>I started my digital marketing journey as a Google Ads consultant for small businesses. I then went on to work for agencies to expand my digital marketing knowledge. After 15 years of experience, I decided to go the consultancy route. My focus is on helping businesses in the Raleigh-Durham area but I work with businesses from all over the world. <a id="resume" href="/resume" >View my résumé</a></p>
			</div>
			</section>
			
<section id="contact">
			<div class="wrapper">

	<div class="column left">				
		<h2 class="scroll-section">Looking for a paid media partner? </h2>
		<div id="contact_info">
				<p><a href="mailto:jason@carolinadigital.co" target="_blank">jason@carolinadigital.co</a></p>
				<p>Let's set up time to explore how I can help drive lasting growth. I'll reply within a business day.</p><p>Find Me &rarr; <a target="_blank" href="https://www.linkedin.com/company/carolina-digital-llc">LinkedIn</a></p></div>
		</div>
				<div class=" column right">
			<form class="contact_form" method="POST" action="https://formspree.io/f/xeovqokl">
					<input id="name" type="text" name="name" placeholder="Name" required />
			  
					<input id="email" type="email" name="email" placeholder="Email Address" required />
					<textarea id="message" name="message" placeholder="Details (Audit or Consultation)" required></textarea>
			  
					<button id="sub_button" type="submit">Send Message</button>
				  </form>

		</div>
			  </section>
			  </BaseLayout>