---

import BaseLayout from '/src/pages/layouts/BaseLayout.astro';
import { Picture } from 'astro:assets';
import consultingImg from '/src/img/strategy-svgrepo-com.svg'
import auditImg from '/src/img/magnifying-glass-backup-svgrepo-com.svg'

const pageID = "index";
const pageTitle = "Raleigh Digtial Agency";
const pageDescription = "Whether Google Ads, Facebook, Instagram, X (Twitter) or whichever, the goal is to bring in money. My goals are aligned with yours. Learn More!";
---
<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription} pageID={pageID}>




			<section id="intro">
	
						<div class="wrapper">
										
				<h1>{pageTitle}</h1>
				<h2>Helping local businesses connect products and services to customers, and ad dollars to profit.   
				</h2>
				<p>Greetings, I'm Jason. I am a Raleigh based paid search, paid social media and SEO expert. I have over 10 years of experience, both agency and in-house. My main focus is connecting ad spend to profit.</p>

			</section>
			<section id="intro_2">
				
						<div class="wrapper">
							
				<h2 class="scroll-sectionv2">Quick turnaround, direct support and tailored solution without big agency overhead.</h2>
				<h2 class="scroll-section">Wether you are looking for:</h2>
				<div class="intro_2_list">
				<div class="intro_2_item scroll-section"><div class="bracketed-list column">[a]</div><div class="bracketed-content column"><p>Google Ads/ paid social or SEO audit</p></div></div>
				<div class="intro_2_item scroll-section"><div class="bracketed-list">[b]</div><div class="bracketed-content"><p>or<br />On-going profit driven paid media/ SEO consultation</p></div></div>
				</div>
			</section>
			<section id="services">
						<div class="wrapper">

				<div class="column left">
										<aside>
	
				<h1>Services</h1>
				<h2 class="scroll-section">Profit driven digital marketing services</h2>
				<p class="scroll-section">One person digital ad services built for quick turnover and lasting results</p>
										</aside>

				</div>
				<div class="column right scroll-sectionv2">
					<div class="service_icon"><Picture src={consultingImg} alt="Consulting Logo." width="70" /></div>
					<h2>Consulting</h2>
<ul> <li>Available M-F, 8am - 6pm / EST Timezone</li> <li>Weekly detailed benchmark reports with a focus on profit</li> <li>Direct communication on the messaging platform of your choice</li> </ul>					
					<div class="service_icon"></div>
					<div class="service_icon">					<div class="service_icon"><Picture src={auditImg} alt="Consulting Logo." width="70" /></div>

<h2>Audit & Training</h2>
<ul> <li>Performance audit of paid media accounts and landing pages.</li> <li>Set clear benchmarks for your specific goals to measure success</li> <li>Create strategic plans to incorporate with overall business goals</li> <li>Direct communication on the messaging platform of your choice</li> </ul>

				</div>


			</section>
						<section id="expertise">
						<div class="wrapper">
							
			<h1>Expertise</h1>
			<h2>Digital marketing knowledge for long-term sucess</h2>
			<p id="exp_subhead">Overview of tools and tactics that I have spend years working with.</p>
			<div id="exp_details">
			<div class="column left">	

<div class="exp_card scroll-sectionv2"><h3>Search Engine Marketing</h3>
				<p>Google Ads. Google Local. PMax. Bing. SEO. AEO.</p></div>
<div class="exp_card scroll-sectionv2"><h3>Paid Social</h3>
				<p>Facebook. Instagram. TikTok. LinkedIn. YouTube. X(Twitter).</p><br> <br> </div>
				</div>
								<div class="column right">	
<div class="exp_card scroll-sectionv2"><h3>Analytics & Profit Generation</h3>
				<p>Google Analytics. Google Tags. Adobe Analyics. Looker Studio. SalesForce. Competitve Analysis. </p></div>
<div class="exp_card scroll-sectionv2"><h3>Landing Page Optimization</h3>
				<p>Wordpress. Webflow. HTML/ SCSS </p></div>
				</div>
							 </div>
							 </div>
			</section> 
			<section id="process">
						<div class="wrapper">

				<div class="column left">
					<aside>
				<h1 class="scroll-section">What to expect</h1>
				<h2 class="scroll-section">A process built for success</h2>
				</aside>
			</div>
				<div class="column right">
					<h3 class="scroll-sectionv2">1. Discovery call</h3>
					<p class="scroll-sectionv2">We'll start with a in-depth discussion as to what your goals are and how my skill set can align with those goals. This conversation is necessary to ensure my services will lead to meaniful results.</p>
					<h3 class="scroll-sectionv2">2. Tailored project plan</h3>
					<p class="scroll-sectionv2">Wether it is consulting or training, I will develop a detailed plan based on our conversation. We will set deadlines and clear goals.</p>
					<h3 class="scroll-sectionv2">3. Execution & support</h3>
					<p class="scroll-sectionv2">Once the plan is approved, we move onto execution. For training & audits, we will set a time to discuss my findings and a plan to ensure success. For consulting, we will set regular cadence to ensure KPIs are being met.</p>
				</div>

				</section>


	
				<section id="competition">
				<div class="wrapper">

				<div class="column left">
				<aside>
				<h1>The Competition</h1>
				<h2 class="scroll-section">Me vs Them</h2>
				<p class="scroll-section">I have over a decade experince in a variety of industries and have always gone the extra mile to bring lasting results. This is what sets me apart from my competitors.</p>
				</aside>

				</div>
				<div class="column right">

				<table>
					
  <tr>
    <th style="width:50%"></th>
    <th class="me">Me</th>
	<th class="them">Agencies</th>
    <th class="them employee">Employee</th>
  </tr>
  <tr>
    <td  class="me">Simple On-boarding</td>
    <td class="me">&check;</td>
    <td class="them">X</td>
	    <td class="them employee">X</td>

  </tr>
  <tr>
    <td  class="me">Fixed scope & clear pricing</td>
    <td class="me">&check;</td>
    <td class="them">X</i></td>
	    <td class="them employee">?</td>

  </tr>
  <tr>
    <td  class="me">Direct communication</td>
    <td class="me">&check;</td>
    <td class="them">X</td>
	    <td class="them employee">&check;</td>

  </tr>
  <tr>
    <td  class="me">No bloated teams & handoffs</td>
    <td  class="me">&check;</td>
    <td class="them">X</td>
	    <td class="them employee">?</td>

  </tr>
  <tr>
    <td  class="me">Fast turnaround with no bottle neck</td>
    <td class="me">&check;</td>
    <td class="them">X</td>
	    <td class="them employee">?</td>

  </tr>
  <tr>
    <td  class="me">Clear timeline</td>
    <td class="me">&check;</td>
    <td class="them">&check;</td>
	    <td class="them employee">?</td>

  </tr>
  <tr>
    <td  class="me">Profit focused results</td>
    <td class="me">&check;</td>
    <td class="them">?</td>
	    <td class="them employee">&check;</td>

  </tr>
  <tr>
    <td  class="me">No long-term commitments</td>
    <td class="me">&check;</td>
    <td class="them">X</td>
	    <td class="them employee">?</td>

  </tr>
   <tr>
    <td  class="me">No training cost or time</td>
	<td class="me">&check;</td>
    <td class="them">?</td>
    <td class="them employee">X</td>
  </tr>
</table>
</div>
</div>

			</section>	
<section id="faq">
<div class="wrapper">
<div class="column left">
	<h1 class="scroll-section">FAQS</h1>
	<h2 class="scroll-section">Questions? Answered.</h2>

</div>
<div class="column right">
	<div class="accord_wrap scroll-sectionv2">

<button class="accordion"><h3>Can you create or audit landing pages?</h3></button>
<div class="panel">
  <p>I work with designers and writers to create effective landing pages, blog post, or any type of web content. But in the absence of a designers or writers, I can create you landing page for you. I work with Wordpress, Webflow and I'm and expert in HTML/ SCSS.</p>
</div>
</div>
<div class="accord_wrap scroll-sectionv2">
<button class="accordion"><h3>What does a successful paid media campaign look like?</h3></button>
<div class="panel">
  <p>I measure success primarily by ROAS (return on ad spend). In all of my effort, I want to make sure that campaigns are leading to measurable profits.</p>
</div>
</div>
<div class="accord_wrap scroll-sectionv2">
<button class="accordion"><h3>Why choose you over a larger agency?</h3></button>
<div class="panel">
  <p>Unlike bigger companies, I give faster turnaround, personailized attention and cost effective solutions. You get direct access to a digital marketing expert who understand your business goals. </p>
</div>
</div>
<div class="accord_wrap scroll-sectionv2">
<button class="accordion"><h3>Why 'Carolina Digital'?</button>
<div class="panel">
  <p>I am proud to say that Raleigh, NC is my home. Both North and South Carolina businesses and people have served me well. I want to return favor by serving the thriving business community of the Carolinas. </p>
</div>
</div>
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>
	</div>
	</div>

			</section>
			<section id="about">
						<div class="wrapper">

				<h1>About Me</h1>
				<h2>Quick professional summary</h2>
				<p>I started my digital marketing journey as a Google Ads consultant for small businesses. I then went on to work for agencies to expand my digital marketing knowledge. After 15 years of experience and a move to Raleigh, I decided to go the consultancy route. My focus is on helping businesses in the Raleigh, NC area but I work with business all over the world. <a id="resume" href="/resume" >View my résumé</a></p>
			</div>
			</section>
			
<section id="contact">
			<div class="wrapper">

	<div class="column left">				
		<h2>Looking for a paid media partner? </h2>
				<p><a href="mailto:jason@carolinadigital.co" target="_blank">jason@carolinadigital.co</a></p>
				<p>Get in touch to explore how I can help drive lasting growth.</p><p>Find Me &rarr; <a target="_blank" href="https://www.linkedin.com/company/carolina-digital-llc">LinkedIn</a></p></div>
		<div class=" column right">
			<form method="POST" action="https://formspree.io/f/mrbqzgly">
					<input id="name" type="text" name="name" placeholder="Name" required />
			  
					<input id="email" type="email" name="email" placeholder="Email Address" required />
			  
					<textarea id="message" name="message" placeholder="Details" required></textarea>
			  
					<button id="sub_button" type="submit">Send Message</button>
				  </form>

		</div>
			  </section>
			  </BaseLayout>